pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# IDE and linter caches
.clj-kondo/.cache/
.lsp/
.calva/
*.code-workspace

# REPL history
.rebel_readline_history

# Node.js
node_modules/

# Logs
*.log
logs/telemetry.jsonl
